@font-face {
    font-family: 'San Francisco Pro Display Thin';
    src: url('../fonts/SFProDisplay-Thin.eot');
    src: url('../fonts/SFProDisplay-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SFProDisplay-Thin.woff') format('woff'),
    url('../fonts/SFProDisplay-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@mixin thin {
    font-family: 'San Francisco Pro Display Thin';
}

@font-face {
    font-family: 'San Francisco Pro Display Ultra Light';
    src: url('../fonts/SFProDisplay-Ultralight.eot');
    src: url('../fonts/SFProDisplay-Ultralight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SFProDisplay-Ultralight.woff') format('woff'),
    url('../fonts/SFProDisplay-Ultralight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@mixin ultralight {
    font-family: 'San Francisco Pro Display Ultra Light';
}

@font-face {
    font-family: 'San Francisco Pro Display Regular';
    src: url('../fonts/SFProDisplay-Regular.eot');
    src: url('../fonts/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SFProDisplay-Regular.woff') format('woff'),
    url('../fonts/SFProDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@mixin regular {
    font-family: 'San Francisco Pro Display Regular';
}

@font-face {
    font-family: 'San Francisco Pro Display Light';
    src: url('../fonts/SFProDisplay-Light.eot');
    src: url('../fonts/SFProDisplay-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SFProDisplay-Light.woff') format('woff'),
    url('../fonts/SFProDisplay-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@mixin light {
    font-family: 'San Francisco Pro Display Light';
}

@font-face {
    font-family: 'Luna';
    src: url('../fonts/Luna.ttf') format('truetype');
}

@mixin luna {
    font-family: 'Luna';
}

@mixin tech {
    font-family: 'Share Tech Mono', monospace
}